section.login {
  width: 100%;
  height: calc(100vh - 146px);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #e5e5e5;
}
.login-form {
  width: 50%;
  height: 60%;
  background-color: aliceblue;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
  border-radius: 10px;
}
.login-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-title p {
  color: #9096b2;
}
.login-input-container {
  display: flex;
  flex-direction: column;
}
.login-form input {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c2c5e1;
  box-shadow: 0px 0px 2px #9096b2;
}
.login-button button {
  background-color: #fb2e86;
  width: 100%;
  color: white;
  font-weight: bold;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #9096b2;
}
.login-query {
  color: #9096b2;
  text-align: center;
}
.login label {
  color: #111112;
}

/* .login-form {
      width: 50%;
      margin-top: 5%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      background-color: white;
      padding: 8px;
      height: fit-content;
      border-radius: 6px;
    } */
